#hint{
    position: relative;
    font-size: 1.5em;
    color:white;
    padding: 5px;
}
#hint #open{
    width: 13vw;
    height: 7vh;
    border-radius: 5px;
    font-size: 2em;
    color:white;
    background-color: rgb(61, 223, 61);
    border:transparent ;
}

#hint #close{
    background-color: rgb(255, 58, 58);
    color:white;
    font-size: 1.2em;
    width:35px;
    height:35px;
    text-align: center;
    position: absolute;
    right: -20px;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}